.wrapper {
    margin: auto;
    width: 70%;
    min-width: 600px;
    border: 1px solid black;
}

#tableResults{
    margin: 20px auto;
    width: 95%;
}

#tableResults, tr, td, th{
    border: 1px solid gray;
}

#inputs {
    /* width: 30vw; */
    text-align: center;
    

}

/* table table {
    margin: auto;
    height: 100%;
    width: 100%;
    background-color: rgba(232, 253, 200, 0.596);
    border: none;
}

table table td {
    width: 25%;
} */